<?xml version="1.0"?>
<model>
  <name>X3 TTC</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Carlos Aguero</name>
    <email>caguero@openrobotics.org</email>
  </author>
  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>
  <author>
    <name>Msuega Iorpenda</name>
  </author>
  <description>
    X3 UAV model adapted for TTC experiments with a 640x480, 30 Hz front
    monocular camera. Geometry is referenced from the upstream Gazebo Fuel
    X3 UAV model rather than redistributed in this repository.
  </description>
</model>
